/*App Styling*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 10px; 
  border-bottom: 1px solid lightgray;
}

span.header {
  font-size: 12px;
  padding: 10px;
  float: right;
  color: blue;
  cursor: pointer;
}

span.group {
  font-size: 12px;
  padding-left: 27px;
  color: lightgray;
}

div#body {
  padding-top: 50px;
  width: 300px;
  display: inline-block;
  text-align: left;
}

div.group {
  padding: 15px 5px;
  border-bottom: 1px solid lightgray;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 15px 5px;
  border-bottom: 1px solid lightgray;
  color: lightgray;
}

img {
  padding-right: 20px;
}

label {
  margin: 0;
  color: black;
}

div.group label {
  cursor: pointer;
}

input {
  margin-left: 0px;
  margin-right: 15px;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}